@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

html,
body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
a {
    text-decoration: none !important;
}

.container {
    max-width: 1280px;
}

#cursos-header-textura {
    position: relative;
    background-image: url('../resources/texturarojadelheader510x674.png');
    background-size: cover;
    height: 582px;
    color: white;
    box-shadow: 15px 0px 15px -10px rgba(0,0,0,0.75);
    z-index: 400;
}

#header-textura {
    position: relative;
    background-image: url('../resources/texturaverdeHeader.png');
    background-size: cover;
    height: 582px;
    color: white;
    margin-top: 68px;
    padding-top: 15px;
    box-shadow: 15px 0px 15px -10px rgba(0,0,0,0.75);
    z-index: 400;
}

#header-carousel-1{
    position: relative;
    height: 582px;
    color: white;
    margin-top: 68px;
    padding: 0px;
}

#cursos-header-1{
    position: relative;
    height: 582px;
    color: white;
    padding: 0px;
}

#header::before,
#reg-ahora::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*background: rgba(0, 0, 0, 0.4);*/
}

#navIndex a {
    font-size: 20px;
    color: white;
}

.btn-1 {
    color: #262626;
    background-color: #d4c19caa;
    font-size: 22px;
    font-weight: bold;
    padding: 4px 24px;
    border: 0;
    max-width: 230px;
}

.btn-2 {
    color: white;
    background-color: #262626;
    font-size: 24px;
    padding: 4px 50px;
    border: 0;
    border-radius: 10px;
}

.btn-2:hover {
    color: white;
    background-color: #262626;
    font-size: 24px;
    padding: 4px 50px;
    border: 0;
    border-radius: 10px; 
    text-decoration: none;
}

.btn-3 {
    color: #262626;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 6px 6px;
    border: 1px solid #262626;
    border-radius: 10px;
  }

.btn-5 {
    background-color: #ffffff;
    color: #bc955c ;
    padding: 8px 17px;
    margin: 0 auto;
    height: 100%;
    border-radius: 50px;
    max-width: 23em;
    cursor: pointer;
}

.btn-5 div{
    color: black;
}

.btn-5-selected {
    background-color: #bc955c;
}

.btn-5-selected div {
    background-color: #bc955c;
    color: white !important;
}

.btn-4 {
    background-color: #000000aa;
    padding: 8px 17px;
    margin: 0 2px;
    height: 100%;
}

.text-1 {
    color: #d4c19c;
}

.text-2 {
    font-size: 18px;
    color: #3f3f3f;
}

.text-brown{
    color: #bc955c;
}

.text-black{
    color: #000;
}

h1 {
    font-size: 26px;
    font-weight: bold;
    color: #3f3f3f;
}

h2 {
    font-size: 18px;
    color: #3f3f3f;
}

.underlined::after {
    content: '';
    text-decoration: none;
    position: absolute;
    width: 50px;
    margin-top: 7px;
    border-bottom: solid 2px #3f3f3f;
    display: block;
}

.underlined-white::after {
    border-bottom: solid 2px white;
}

.underlined-footer::after {
    border-bottom: solid 2px #fff;
    width: 30px;
}

.overlined::after {
    content: '';
    text-decoration: none;
    position: absolute;
    width: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    border-top: solid 3px #9d2449;
    margin-top: -3px;
    display: block;
}

.inp-suscribete {
    height: 4em;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 2px solid #efe7dc;
    padding: 0 1rem;
    width: 300px;
}

.inp-suscribete::placeholder {
    font-size: 20px;
}

.btn-suscribete {
    background-color: #d4c19c;
    color: black;
    font-weight: bold;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border: 0;
    font-size: 20px;
    padding: 0 1em;
}

.footer-title {
    font-size: 18px;
}

.footer-link {
    font-size: 11px;
    color: #fff;
   
}

.snip1533 {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    color: #9e9e9e;
    display: inline-block;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    max-width: 300px;
    min-width: 250px;
    position: relative;
    text-align: center;
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    border-top: 5px solid #9d2449;
}

.snip1533 *,
.snip1533 *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

.snip1533 figcaption {
    padding: 13% 10% 12%;
       
}

.snip1533 figcaption:before {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: #9d2449;
    content: "\f10e";
    font-family: 'FontAwesome';
    font-size: 32px;
    font-style: normal;
    left: 50%;
    line-height: 60px;
    position: absolute;
    top: -30px;
    width: 60px;
}

.snip1533 h3 {
    color: #3c3c3c;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    margin: 0 0 5px;
}

.snip1533 h4 {
    font-weight: 400;
    margin: 0;
    opacity: 0.5;
}

.snip1533 blockquote {
    font-style: italic;
    font-weight: 300;
    margin: 0 0 20px;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media (max-width: 1342.9px) {
    .btn-4 {
        max-width: 290px;
    }
}

@media (max-width: 1199.9px) {
    .btn-4 {
        max-width: 370px;
    }
    #header {
        height: 480px;
    }
    #btn-4s {
        max-width: 950px;
    }
    .btn-4 {
        margin: 0 auto !important;
    }
}

@media (max-width: 991.9px) {

    .cifras {
        padding: 0 1em !important;
    }

    .eventos {
        padding-right: 0 !important;
    }

    #ultimas-noticias {
        height: 720px !important;
    }

    #header {
        background-position: 53%;
    }
}

@media (max-width: 810px) {
    .inp-suscribete {
        width: 250px;
    }
}

@media (max-width: 767.9px) {
    #header-textura {
        order: 2;
        margin-top: 0px;
    }
    .btn-4 {
        max-width: 350px;
    }

    #header {
        height: 540px;
    }

    #header-title {
        font-size: 24px !important;
    }

    #header-subtitle {
        font-size: 18px !important;
    }

    #ultimas-noticias {
        height: 1060px !important;
    }
    #forma-parte{

        height: 350px!important;
    }

    #cifra-comunidad{
        height: 380px!important;
   
    }

    #comentarios-control , .comentarios-carousel{
        height: 320px!important;
    }
}

@media (max-width: 716.9px) {
    #cifras {
        max-width: 400px;
    }

    #reg-ahora {
        height: 720px !important;
        background-position: 75%;
    }

    #ultimas-noticias {
        background-position: 30%;
    }
}

@media (max-width: 575.9px) {
    #header {
        height: 730px;
    }
}

@media (max-width: 471.9px) {
    .inp-suscribete {
        width: 57%;
    }

    .btn-suscribete {
        padding: 0 10px;
    }
    .btn-4 {
        max-width: 290px !important;
    }
}

@media (max-width: 409.9px) {

    #img-header {
        width: 220px !important;
    }
}

@media (max-width: 359.9px) {

    .cifras {
        padding: 0 0.4em !important;
    }
}

/**
SOBRESCRITURA DE NAV BAR 
**/
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-size: 20px;
    font-style: bold;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-dark {
    background: #1d1d1b !important;
    z-index: 800;
}

.carousel-item img {
    min-height: 10 em;
}



/**
EFECTO EN MENU3
**/
.navbar ul {
    list-style-type: none;
    background-color: #000;
}

.navbar li {
    /*padding: 40px 16px;
    display: table-cell;
    text-align: center;*/

}

.navbar li a {
    /*display: block;*/
    color: white;
    text-align: center;
    text-decoration: none;
    /*font-size: 17px;
    letter-spacing: 2.5px;*/
}

.navbar li a:hover {
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}


/*Edit starts here*/
.navbar li {
    position: relative;
}

.navbar li::after {
    content: '';

    width: 0;
    position: absolute;
    left: 50%;
    height: 2px;
    background: white;
    transition: cubic-bezier(.77, 0, .18, 1) 1s;
}

.navbar li:hover::after {
    width: 80%;
    left: 10%;
}

.navbar li {
    transition: cubic-bezier(.77, 0, .18, 1) 1s;
}

.navbar li{
    background-color: #1d1d1b;
}
.navbar li:hover {
    background-color: #d4c19c!important;
}

.btn-4 {
    color: #fff;
    background-color: #d4c19c;
    border-color: #d4c19c;
    padding: 0.175rem 0.3rem !important;
}

.oswald {
    font-family: 'Oswald', Arial, sans-serif;
    font-size: 3em;

}

.btn-4:hover {
    color: #443122 !important;
}


/*Modal de contacto*/

#contactModal .form-control{
    border: 0px;
}

.modal-dialog{
    width: 560px;
}

.modal-content{
    border: 0px;
}

.wrap-contact100 {
    width: 560px;
    color: #fff;
    border-radius: 3px;
    position: relative;
    padding-bottom: 1.2em;
}

.label-input100 {
    font-size: 18px;
    color: #999999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 60px;
    height: 100%;
    top: 0;
    left: 2px;
}



.btn-hide-contact100 {
    font-size: 30px;
    color: #fff;
    opacity: 0.6;
    position: absolute;
    right: 0;
    top: -44px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}




.contact100-form-title {
    font-family: Montserrat-Bold;
    font-size: 30px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    width: 100%;
    min-height: 128px;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    overflow: hidden;
    padding: 30px 15px 30px 15px;
}

input.input100 {
    height: 55px;
}

.input100 {
    display: block;
    width: 100%;
    background: transparent;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #333333;
    line-height: 1.2;
    padding: 0 25px 0 60px;
}

.validate-input {
    position: relative;
}

.wrap-input100 {
    width: 100%;
    position: relative;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    margin-top: 10px;
}

.container-contact100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 17px;
}

